@import '../../styles/variables.scss';

.hero {
    width: 100%;
    padding: 0 30px;
    position: relative;
    height: 100vh;
    @media only screen and (min-width: $media-mobile) {
    height: 750px;
    padding: 0 30px;
    }
    .text {
      position: relative;
      z-index: 1;
    }
    .bgImage {
      @media only screen and (min-width: $media-mobile) {
      max-height: 750px !important;
      }
      z-index: 0;
    }
  }
  
  .content {
    display: flex;
    align-items: center;
    height: 100%;
    .text {
      max-width: 370px;
    }
  }
  