@import "../../styles/variables.scss";

.intro {
  text-align: center;
  max-width: 500px;
}

.grid {
  display: grid;
  gap: 24px;
  @media only screen and (min-width: $media-mobile) {
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  
  margin-top: 40px;}
  .item {
    display: flex;
    align-items: center;
    text-align: center;
    column-gap: 30px;
  }
}

.grid-2-columns {
  @media only screen and (min-width: $media-mobile) {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
}
