@import "./variables.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #FFF;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
ul{
  padding: 0;
}

#default-layout {
  max-width: 2560px;
  margin: 0 auto;
  background-color: #fff;
}

.content-wrapper {
  max-width: $content-width;
  margin: 0 auto;
}
.section-wrapper {
  position: relative;
  padding: 60px 30px;
  @media only screen and (min-width: $media-mobile) {
    padding: 90px 30px;
  }
  &.big-section {
    padding: 60px 30px;
    @media only screen and (min-width: $media-mobile) {
      padding: 150px 30px;
    }
  }
}

.btn {
  color: $brand-color-light;
  font-weight: bold;
  font-family: $primary-font;
  font-size: 1rem;
  line-height: 24px;

  &.primary a {
    display: flex;
    border-radius: 24px;
    border: 2px solid $brand-color;
    padding: 10px 24px;
    //border-image-source: linear-gradient(264.92deg, #7F2EE8 4.08%, $brand-color 96.43%);
  }
  &.secondary {
    display: flex;
    align-items: center;
    a {
      border-bottom: 2px solid $primary-color;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: $primary-font;
}

h1 {
  font-weight: 900;
  margin: 0;
  line-height: 60px;
  @media only screen and (min-width: $media-mobile) {
    font-size: 3rem;
  }
}

h2 {
  font-weight: 900;
  margin: 0;
  line-height: 48px;
  @media only screen and (min-width: $media-mobile) {
    font-size: 2.25rem;
  }
}

h3 {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 34px;
  margin: 0;
}

p {
  font-size: 1rem;
  line-height: 24px;
  margin: 10px 0;
}
