$primary-color: #353038;
$brand-color: #4E00AF;
$brand-color-light: #4D3658;

$primary-font: 'Inter', sans-serif;

$content-width: 1200px;

//breakpoints
$media-xsmall: 500px; 
$media-mobile: 767px; 
$media-tablet: 992px; 
$media-tablet-xl: 1200px; 
$media-desktop: 1440px; 
$media-desktop-xl: 1680px;